{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}
{% block content %}
<style>
    .center-form{
        margin-top: 10rem;
        max-width: 25rem;
        text-align: center;
    }
</style>
<div class="container center-form">
    <h2>CoffeeTickets System</h2>
    <form method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
            <button type="submit" class="btn btn-primary">Log In</button>
        {% endbuttons %}
        In case you <a class="" href="{% url 'password_reset' %}">Forgot Your Password</a>
        <br>
        <a class="" href="#">Contact with Administration</a>
    </form>
</div>
{% endblock %}