{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}
{% block content %}
    <style>
        p{
            text-align: center;
            margin-top: 20rem;
        }
    </style>
    <div class="container">
        <p>
            Your password has been set. You may go ahead and <a href="{% url 'login' %}">sign in</a> now.
        </p>
    </div>
{% endblock %}