{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}
{% block content %}
<style>
        .center-form{
            margin-top: 10rem;
            max-width: 25rem;
            text-align: center;
        }
    </style>
    <div class="container center-form">
            {% if validlink %}
            <h3>Change password</h3>
            <form method="post">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% buttons %}
                <button type="submit" class="btn btn-primary">Change password</button>
            {% endbuttons %}
            </form>
        {% else %}
            <p>
                The password reset link is invalid, possibly because it has already been used.
                Please request a new password reset.
            </p>
        {% endif %}
    </div>
{% endblock %}