{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}
{% block content %}
    <style>
        p{
            text-align: center;
            margin-top: 20rem;
        }
    </style>
    <div class="container">
        <p>
            We've emailed you instructions for setting your password.
            You should receive them shortly.
            In case of any problems please contact administrator.
        </p>
    </div>
{% endblock %}