{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}
{% block content %}
    <style>
        p{
            text-align: center;
            margin-top: 20rem;
        }
    </style>
    <div class="container">
        <p>
            Your password was changed.
        </p>
    </div>
{% endblock %}