{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}
{% block content %}
    <style>
        .center-form{
            margin-top: 10rem;
            max-width: 25rem;
            text-align: center;
        }
    </style>
    <div class="container center-form">
        <form method="post">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% buttons %}
                <button type="submit" class="btn btn-primary">Submit</button>
            {% endbuttons %}
        </form>
    </div>
{% endblock %}