{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}
<style>
    .margined-m{
        margin-left: 10rem;
    }
</style>
{% block content %}
    <div class="row">
        <div class="col-md-4 p-4" style="margin-left: 1rem; margin-right: 1rem;">
            <div class="list-group">
                <button class="list-group-item list-group-item-dark " data-toggle="collapse" href="#collapseTicketsTODO" role="button" aria-expanded="false" aria-controls="collapseTicketsTODO">
                    Your <span class="badge badge-primary badge-pill">TODO</span> Tickets
                </button>
                <div class="collapse show" id="collapseTicketsTODO">
                    {% for ticket in current_tickets %}
                        <!-- <a href="#" class="list-group-item list-group-item-action flex-column align-items-start"> -->
                            <a  href="/ticket/{{ ticket.id }}" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                                {{ ticket.summary }}
                                <span class="badge badge-primary badge-pill">{{ticket.coffee_points}}</span>
                            </a>
                        <!-- </a> -->
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-md-4  p-4" style="margin-left: 1rem; margin-right: 1rem;">
            <div class="list-group">
                <button class="list-group-item list-group-item-dark " data-toggle="collapse" href="#collapseTickets" role="button" aria-expanded="false" aria-controls="collapseTickets">
                    Your <span class="badge badge-success badge-pill">DONE</span> Tickets
                </button>
                <div class="collapse show" id="collapseTickets">
                    {% for ticket in tickets %}
                    <!-- <a href="#" class="list-group-item list-group-item-action flex-column align-items-start"> -->
                        <a  href="/ticket/{{ ticket.id }}" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                            {{ ticket.summary }}
                            <span class="badge badge-primary badge-pill">{{ticket.coffee_points}}</span>
                        </a>
                    <!-- </a> -->
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-md-3 p-4" style="margin-right: 1rem; margin-left: auto">
            <div class="list-group">
                <button class="list-group-item list-group-item-dark " data-toggle="collapse" href="#collapseProjects" role="button" aria-expanded="false" aria-controls="collapseProjects">
                    Your Projects
                </button>
                <div class="collapse show" id="collapseProjects">
                    {% for project in projects %}
                    <!-- <a href="#" class="list-group-item list-group-item-action flex-column align-items-start"> -->
                        <a  href="/project/{{ project.id }}" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                            {{ project.name }}
                        </a>
                    <!-- </a> -->
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    
{% endblock %}