{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}
{% block content %}
<div class="row">
    <div class="col-md-7" style="margin-top: 3rem; margin-left: auto; margin-right: auto; max-width: 90%;">
        <div class="card">
            <h5 class="card-header">#{{ project.id }} - {{ project.name }} - ({{project.start_timestamp}})</h5>
            <div class="card-body">
                {% if project.main_repo %}
                    <p>Repo: {{ project.main_repo }}</p>
                {% endif %}
                <p class="card-text">CoffePoints earned in total: <span class="badge badge-primary badge-pill">{{ earned }}</span></p>
                <p class="card-text">Created by: {{ project.creator.username }}</p>
                <p class="card-text">Supervised by: {{ supervisors }}</p>
                {% if ticket.components.all %}
                    <p class="card-text">Components: {{components}}</p>
                    </ul>
                {% endif %}
            </div>
        </div>
    </div>
    
    <div class="col-md-3" style="margin-right: auto; margin-left: auto; margin-top: 3rem; max-width: 90%;">
        <div class="list-group">
            <button class="list-group-item list-group-item-dark " data-toggle="collapse" href="#collapseTicketsTODO" role="button" aria-expanded="false" aria-controls="collapseTicketsTODO">
                Your <span class="badge badge-primary badge-pill">TODO</span> Tickets
            </button>
            <div class="collapse show" id="collapseTicketsTODO">
                {% for ticket in tickets %}
                    <!-- <a href="#" class="list-group-item list-group-item-action flex-column align-items-start"> -->
                        <a  href="/ticket/{{ ticket.id }}" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                            {{ ticket.summary }}
                            <span class="badge badge-primary badge-pill">{{ticket.coffee_points}}</span>
                        </a>
                    <!-- </a> -->
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}