{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}
{% block content %}
    <style>
        .center-form {
            margin-top: 3rem;
            max-width: 25rem;
        }
        textarea {
            max-height: 5rem;
        }
    </style>
    <div class="container center-form">
        <h3>New Ticket</h3>
        <form method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
            <button type="submit" class="btn btn-primary">Create</button>
        {% endbuttons %}
        </form>
    </div>
{% endblock %}