{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}
{% block content %}
<div class="container" style="margin-top: 3rem;">
    <div class="card">
        <h5 class="card-header">#{{ ticket.id }}  {{ ticket.summary }}
            {% if ticket.status == "STARTED" %}
                <a href="/ticket/{{ ticket.id }}/REJECTED" class="btn btn-danger float-right" style="right: 0; left: auto;">Mark as REJECTED</a>
                <a href="/ticket/{{ ticket.id }}/DONE" class="btn btn-success float-right" style="right: 0; left: auto; margin-right: 1rem;">Mark as DONE</a>
            {% endif %}
        </h5>
        <div class="card-body">
            <p>Project: {{ ticket.project.name }}</p>
            <p class="card-text">CoffePoints: <span class="badge badge-primary badge-pill">{{ ticket.coffee_points }}</span></p>
            <p class="card-text">Created by: {{ ticket.creator.username }}</p>
            <p class="card-text">Assigned to: {{ ticket.assignee.username }}</p>
            {% if ticket.status == "DONE" %}
                <p class="card-text">Status: <span class="badge badge-success badge-pill">{{ ticket.status }}</span></p>
            {% elif ticket.status == "REJECTED" %}
                <p class="card-text">Status: <span class="badge badge-danger badge-pill">{{ ticket.status }}</span></p>
            {% else %}
                <p class="card-text">Status: <span class="badge badge-primary badge-pill">{{ ticket.status }}</span></p>
            {% endif %}
            {% if ticket.components.all %}
                <p class="card-text">Components: {{components}}</p>
                </ul>
            {% endif %}
            <br>
            <div class="card border-dark mb-3" style="max-width: 96%; margin-left: 2%;">
                <div class="card-header">Description</div>
                <div class="card-body text-dark">
                    <p class="card-text">{{ ticket.description }}</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}